<p class = "question"> YOU LIVE EARTH, UNIVERSE, ULIVEARTH </p>
<canvas height="300px" width="500px" id="line" class="chart chart-line" chart-data="data"
        chart-labels="labels" chart-legend="true" chart-series="series"
        chart-click="onClick" >
</canvas>
<a href = "http://ellenseon.net/#/">return</a>
<!--<div> {{ data }} </div>-->

<!--<div>-->
    <!--<div fusioncharts-->
         <!--width="600"-->
         <!--height="400"-->
         <!--type="column2d"-->
         <!--dataSource="DataSource" >-->
    <!--</div>-->
<!--</div>-->

<!--<fusioncharts-->
     <!--width="600"-->
     <!--height="400"-->
     <!--type="msline"-->
     <!--chart="{{attrs}}"-->
     <!--categories="{{categories}}"-->
     <!--dataset="{{dataset}}"-->
<!--&gt;</fusioncharts>-->